body {
    background-image: url(../img/sl_031420_28950_18.jpg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 150px auto;
    padding: 20px;
    background-color: #f1dfdf;
    border-radius: 10px;
  
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #898787;
    border-radius: 10px;
}

/* botão */

button {
    padding: 10px 20px;
    background-color: #c77bde;
    color: #000;
    border: none;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    font-size: 16px;
    background-color: #a351bc;
}


/* Conversões */
.resultados{
    margin-top: 20px;
}